.F.R.I.E.N.D.S.{
  width:200px;
  border:10pxsolid#000;
  display:block;
  margin-left:auto;
  margin-right:auto;
  Margin-bottom:20px;
}

.steam-image{
  padding: 25px;
  width: 700px;
 }
 
.centre-image{
  margin-left: auto;
  margin-right: auto;
  display: block;
}



  
  
  
  
  