.steam-image {
  padding:25px;
  width:600px;
}
.wrap-image {
  float: right;
  margin-right: 200px;
}
.center-image{
  margin-left:auto;
  margin-right:auto;
  display:block;
}
.header {
   text-align: center;
  font-size:400%;
  font-family: comic sans ms;
}

.shark-image{
  padding: 25px
   width : 300px 
}
.shark-image2{
  padding: 25px
   width : 500px 
}
.center-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
  p {
    text-align: center;
  font-size: 150%;
  font-family: comic sans ms;
  }
h1{
 text-align: left;
  font-size: 180%;
  font-family: comic sans ms; 
}
h2{
 text-align: left;
  font-size: 180%;
  font-family: comic sans ms; 
}




































.shark-image{
  padding: 25px
   width : 300px
 
}

.center-image {
  margin-left: auto;
  margin-right: auto;
  display: block;