h1 {
   text-align: center;
  font-size: 200%;
}
h2 {
  text-align: center;
  font-size: 300%
}
h3 {
  text-align: left;
  font-size: 300%
}

p1 {
   text-align: center;
  font-size: 120%;
}
p {
   text-align: center;
  font-size: 200%;
}
