 .steam-image{
  padding:25px;
  width:500px;
}

.center-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  text-align: center;
  font-size: 150%;
  font-family: comic sans ms;.steam-image{
  padding:25px;
  width:500px;
}

.center-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  text-align: center;
  font-size: 150%;
  font-family: comic sans ms;
.steam-image{
  padding:25px;
  width:500px;
}

.center-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  text-align: center;
  font-size: 150%;
  font-family: comic sans ms;
.steam-image{
  padding:25px;
  width:500px;
}

.center-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  text-align: center;
  font-size: 150%;
  font-family: comic sans ms;
  }

