.header {
  text-align: center;
  padding: 20px;
  font-size:300%;
  font-family: comic sans ms;
  /*font-weight: bold;*/
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.footer {
  background-color: #333;
  text-align: center;
  padding: 10px;
 
}

.steam-image {
  padding: 25px;
  width: 300px;
}

.wrap-image {
  float: right;
  margin-right: 200px;
}

.apple-image {
  width: 500px;
}

.center-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  text-align: center;
  font-size: 150%;
  font-family: comic sans ms;
}

.font-style1{
  color:blue;
}


hr {
  border: 1px solid;
  border-color: grey;
}

.steam-image{
  padding:25px;
  width:500px;
}

