.All About Aabisha {
  width:200px;
  border:10pxsolid#000;
  display:block;
  margain-left:auto;
  margain-right:auto;
  margain-bottom:20px;
}
.steam-image {
  padding:500x;
  width:200x;
}
  .center-image {
  margin left: auto;
  margin right: auto;
  display: block;
  }
p { 
  text-align: left;
  font-size: 150%;
  font-family: comic sans ms;
}

h2 {
 text-align: left;
  font-size: 150%;
  font-family: comic sans ms;
}
li {
  text-align: left;
  font-size: 150%;
  font-family: comic sans ms;
}


