html { 
  background: url("https://wallpapercave.com/wp/zlGDri4.jpg") no-repeat center center fixed; 
  background-size: cover;
}
.error {
  display: none;
}
h1 {
    Color: black;
  }
p1{
  color: black;
  margin-bottom: 100px
}
h2{
  margin-top: 100px;
  font-size: 225%;
  color: black
}
p{
  text-align: center; 
  font-size: 200%; 
  color: black; 
  margin-bottom: 150px;
 
  }
h3 {
  text-align: center; font-size: 250%; color: black;
}
.volleyball-image {
  width: 150px;
  padding: 0px;
}
.volleyball-image2{
  width: 150px;
  padding: 0px;
}
.volleyball-image{
  position: relative;
  top: 10px;
  float: left;
  margin-right: 10px;
  margin-left: 2px;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333; 
  padding: 20px;
  margin: 10px
}
.volleyball-image2{
  position: relative;
  top: 10px;
  bottom: 0px;
  margin-right: 100px;
  float: right;
  margin-left: 2px;  
   border-left: 2px solid #333;
  border-bottom: 2px solid #333; 
  padding: 20px;
  margin: 10px
}
p3{
  font-size: 150%;
  font-family: Comic Sans MS;
  color: black;
  
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 28px;
  text-decoration: none;
  transition: all 100ms;
}
li {
  float: left;
  border-right: 1px solid #111;
  width: 24.9%;
}
li a:hover {
  background-color: #111;
  color: white;
  transform: scale(1.05);
}
ul {
  z-index: 2;
  position: sticky;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  border-radius: 2px;
  top: 0px;
  width: 100%;
}
