}

.steam-image{
  padding: 25px;
  wicth: 300px;
}
  border:10px solid #000i
    .apple-image {
      width: 500px;
}
.center-image {
  margin-left:auto;
  margin-right:auto;
  display:block   
   

    p {
    text allign: center
    font size: 150; 
    font familly:comic sans ms
      
      