.steam-image{
  padding:25px;
  width:500px;
}

.center-image{
  margin-left:auto;
   margin-right:auto;
    display:block;
}


.happy-image{
  padding:25px;
  width:700px;
}

.hello-image{
  padding:25px;
  width:582px;
}


.rice-image{
  padding:25px;
  width:509px;
}

