.red-image {
  padding: 20px;
  height: 350px;
}
.orange-image {
  padding: 20px;
  height: 350px;
}
.yellow-image {
  padding: 20px;
  height: 350px;
}
.green-image {
  padding: 20px;
  height: 450px;
}
.blue-image {
  padding: 20px;
  height: 450px;
}
.indigo-image {
  padding: 20px;
  height: 450px;
}
.violet-image {
  padding: 20px;
  height: 450px;
}